@import "predefined.scss";
@import "normalize.scss";
@import "animate.scss";

/* Webkit Scrollbar Customize */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: $midnightblue;
}

::-webkit-scrollbar-thumb {
  background: #888;

  &:hover {
    background: $text;
  }
}

html {
  background: $light-grey;
  line-height: 1.6;
  letter-spacing: .06em;
}

body,
button,
input,
select,
textarea {
  color: $text;
  font-family: $fonts;
}

a {
  color: $text;
  text-decoration: none;
  border: none;
  transition-property: color;
  transition-duration: .4s;
  transition-timing-function: ease-out;

  &:hover {
    color: #fff;
  }
}

hr {
  opacity: .2;
  border-width: 0 0 5px 0;
  border-style: dashed;
  background: transparent;
  width: 80%;
  margin: auto;
}

.thin {
  max-width: 720px;
  margin: auto;
}

.feather {
  display: inline-block;
  vertical-align: -.125em;
  width: 1em;
  height: 1em;
}

// Accessibility
//
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

// Spotlight
//
#spotlight {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 93%;
  margin: auto;
  font-size: 1.5rem;

  &.error-404 {
    flex-direction: row;
    line-height: normal;
  }
}

p.img-404 {
  margin: 0;

  svg {
    width: 180px;
    max-width: 100%;
    height: auto;
  }
}

.banner-404 {
  margin-left: 2em;

  h1 {
    font-size: 3em;
    margin: .5rem 0;
  }

  p {
    margin-top: 0;
    margin-bottom: .6em;
  }

  .btn-404 {
    font-size: .8em;

    a {
      display: inline-block;
      border: 2px solid $text;
      border-radius: 5px;
      padding: 5px;
      transition-property: color, border-color;
      word-break: break-all;

      &:first-child {
        margin-right: 1em;
      }

      &:hover {
        border-color: #fff;
      }

      svg {
        margin-right: .5em;
      }
    }
  }
}

#home-center {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

#home-title {
  margin: 0;
  text-align: center;
}

#home-subtitle {
  margin-top: 0;
  margin-bottom: 1.5em;
  text-align: center;
  line-height: normal;
  font-size: .7em;
  font-style: italic;
  opacity: .9;
}

// single.html
//
.bg-img {
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: -1;
  position: fixed;
  top: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: opacity .5s;
}
