<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" href="{{"favicon.ico" | relURL}}">
	<title>{{.Title}}</title>
	{{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "css/style.css" . | toCSS | minify | fingerprint -}}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}" {{ printf "integrity=%q" $style.Data.Integrity | safeHTMLAttr }}>
	{{ block "head" . -}}{{- end }}
</head>

<body id="page">
	{{ block "main" . -}}{{ end -}}
</body>
</html>
